[user]
        name = Emrys-Hong
        email = hongpengfei.emrys@gmail.com
[alias]
        ac = "!git add . ; git commit "
        a = add .
        alias = "!git config -l | grep alias | cut -c 7-"
        addt = !sh -c 'git ls-files | grep \"\\.$1*\" | xargs git add' - 
        amendc = commit --amend
        back = reset --hard HEAD
        br = branch
        ci = commit 
        co = checkout
        cre = config credential.helper store
        d = difftool -y
        f = "!git ls-files | grep -i"
        file-change = "!change() { git diff --name-status \"$1^\" \"$1\"; }; change"
        l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
        lo = log --pretty=oneline --since='2 days ago' --color --graph --abbrev-commit 
        lod = log -p -1 --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue) <%an>%Creset' --abbrev-commit
        m = mergetool -y
        nb = "mergetool --tool=nbdime"
        p = "!git rev-parse --abbrev-ref HEAD | xargs git push origin"
        pl = "!git rev-parse --abbrev-ref HEAD | xargs git pull origin"
        rmc = rm --cached 
	rmbr = remote show origin
        s = "!git status"
        unstage = reset --mixed HEAD .
        uncommit = reset --soft HEAD^
        vimdiff = "!vim -p `git diff --name-only`"


[push]
        default = simple
[core]
        editor = vim
        excludesfile = ~/Github/.dotfiles/.gitignore_global
        attributesfile = ~/Github/.dotfiles/.gitattributes_global

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto


[diff]
        tool = vimdiff

[merge]
        tool = vimdiff

[credential]
        helper = cache --timeout=3600000000000000000000

[help]
        format = man
[man]
        viewer = vim
