[user]
        name = Emrys-Hong
        email = hongpengfei.emrys@gmail.com
[alias]
        ac = "!git add . ; git commit "
        a = add .
        ci = commit 
        co = checkout
        lo = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
        s = "!git status"
        d = difftool -y
        cre = config credential.helper store
        p = "!git rev-parse --abbrev-ref HEAD | xargs git push origin"
        pl = "!git rev-parse --abbrev-ref HEAD | xargs git pull origin"
        unstage = reset --mixed HEAD .
        uncommit = reset --soft HEAD^
        back = reset --hard HEAD
        f = "!git ls-files | grep -i"
        alias = "!git config -l | grep alias | cut -c 7-"
        amendc = commit --amend
        rmc = rm --cached 
        addt = !sh -c 'git ls-files | grep \"\\.$1*\" | xargs git add' - 
        file-change = "!change() { git diff --name-status \"$1^\" \"$1\"; }; change"
        nb = "mergetool --tool=nbdime"
        vimdiff = "!vim -p `git diff --name-only`"


[push]
        default = simple
[core]
        editor = vim
        excludesfile = ~/.gitignore_global

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto


[diff]
        tool = vimdiff

[merge]
        tool = vimdiff

[credential]
        helper = cache --timeout=3600000000000000000000

[help]
        format = man
[man]
        viewer = vim
