[user]
        name = Emrys-Hong
        email = hongpengfei.emrys@gmail.com
[push]
        default = simple
[core]
        editor = vim
        excludesfile = ~/.gitignore_global

# git config credential.helper store
